<nav class="nav-primary hidden-xs">
    <ul class="nav bg clearfix">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> Discover </li>
        <li>
            <a ng-href="#/"> <i class="icon-disc icon text-success"></i> <span class="font-bold">Discovers</span> </a>
        </li>
        <li>
            <a ng-href="#/albums/recently-added"> <i class="icon-music-tone-alt icon text-info"></i> <span class="font-bold">Recently Added</span> </a>
        </li>
        <li>
            <a ng-href="#/albums/devotional"> <i class="icon-drawer icon text-primary-lter"></i> <b class="badge bg-primary pull-right">6</b> <span class="font-bold">Devotional</span> </a>
        </li>
        <li>
            <a ng-href="#/albums/modern"> <i class="icon-list icon text-info-dker"></i> <span class="font-bold">Modern</span> </a>
        </li>
        <li>
            <a ng-href="#/albums/unknown" data-target="#content" data-el="#bjax-el" data-replace="true"> <i class="icon-social-youtube icon text-primary"></i> <span class="font-bold">Unknown</span> </a>
        </li>
        <li class="m-b hidden-nav-xs"></li>
    </ul>
    <ul class="nav" data-ride="collapse">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> Explore </li>
        <li>
            <a href="http://amarela.kaakai.in/app/"> <i class="icon-list icon text-info-dker"></i> <span>Android App</span> </a>
        </li>
        <li>
            <a href="http://kaakai.in/"> <i class="icon-list icon text-info-dker"></i> <span>KAAKAI</span> </a>
        </li>
    </ul>
    <!-- <ul class="nav text-sm">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> <span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span> Playlist </li>
        <li>
            <a href="#"> <i class="icon-music-tone icon"></i> <span>Hip-Pop</span> </a>
        </li>
        <li>
            <a href="#"> <i class="icon-playlist icon text-success-lter"></i> <b class="badge bg-success dker pull-right">9</b> <span>Jazz</span> </a>
        </li>
    </ul> -->
</nav>